
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: gainsboro;
}    

.container1 {
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    min-height: 100vh;
    border-radius: 6px;
    padding: 20px;
    margin: 30px 15px;
    background-color:#fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container1 header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container1 form{
    position: relative;
    margin-top: 10px;
    min-height: 620px;
    background-color: #fff;
}

.container1 form .form{
    position: absolute;
}

.container1 form .details{
    margin-top: 30px;
}

.container1 form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container1 form .fields{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

form .fields .input-field-gender{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field-gender label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field-gender input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field input[type="date"]{
    color: #707070;
}

.input-field input[type="date"]:valid{
    color: #333;
}

.container1 form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color:#b79898;
    transition: all 0.3s linear;
    font-size: 14px;
    font-weight: 400;
}


form button:hover{
    background-color:brown;
}

form .buttons{
    display: flex;
    align-items: center;
}
